.header{
  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0 0.5rem 0 ;
  }
  &__theme-gear{
    background: none;
    &__image{
      width: 100%;
    }
  }
  &__logo{
    margin-left: 16.5rem;
    &__image{
      max-width: 192px;
    }
  }
  &__slogan{
    font-size:1.875rem;
    display: flex;
    justify-content: center;
  }
  &__profile-info{
    display:flex;
    align-items: center;
  }
  &__auth__button{
    font-family: Inconsolata;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 14px; /* 87.5% */

    padding: 0.75rem 1.25rem ;
    border-radius: 0.9375rem;
  }
  &__log-in{
    color: #0057FF;

    margin: 0 1rem 0 2rem;
    border: 1px solid #DEE8FF;
    background: #F5F8FF;
  }
  &__sign-up{
    color: #FFF;
    background: #0057FF;
  }
}